@tailwind base;
@tailwind components;
@tailwind utilities;



.font-raleway {
  font-family: Raleway, sans-serif;
}

.bg-primary {
  background-color: #100E1D;
}

.bg-secondary {
  background-color: #1E213A;
}

